<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LibraryPath" value="C:\Users\Dj Music\Documents\Native Instruments\Traktor 2.9.0\collection.nml"/>
  </appSettings>
</configuration>